<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>

<div class="container">
<% @job.each do |j| %>
	<div class="item">
	<%= j.company %>
	<%= j.jobTitle %>
	<%= j.description %>
	</div>
<%end%>

<% @coverLetter.each do |c| %>
	<div class="item">
	<%= c.content %>
	</div>
	<%end%>

</div>
</body>
</html>